*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body
{
    
   background:url(./assets/backie.svg);
   background-blend-mode: lighten;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    
    overflow:auto;
    height: 100vh;
    width: auto;
}
.hero
{
    padding-left: 20px;
    height: 100vh;
    
}
.he{
    padding-left: 20px;
    padding-top: 10px;
    position: relative;
    top: 2%;
    display: flex;
    justify-content:left;
    align-items: center;
    padding-right: 20px;
}
.head
{
    font-size:90px;
    color:transparent;
    font-family: 'Poppins', sans-serif;
    -webkit-text-stroke: 3px black;
    letter-spacing: 2px;
    
    
}
.and
{
    color: black;
}
.logo{
    padding-left: 10px;
    /* display: flex;
    align-items: center;
    justify-content: center; */
   
}
.logo img{
    height: 150px;
    
}
.btu
{
    padding: 25px;
}


button {
    position: relative;
    margin: 0;
    padding: 0.8em 1em;
    outline: none;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border: none;
    text-transform: uppercase;
    background-color: #333;
    border-radius: 10px;
    color: #fff;
    font-weight: 300;
    font-size: 18px;
    font-family: inherit;
    z-index: 0;
    overflow: hidden;
    transition: all 0.3s cubic-bezier(0.02, 0.01, 0.47, 1);
  }
  
  button:hover {
    animation: sh0 0.5s ease-in-out both;
  }
  
  @keyframes sh0 {
    0% {
      transform: rotate(0deg) translate3d(0, 0, 0);
    }
  
    25% {
      transform: rotate(7deg) translate3d(0, 0, 0);
    }
  
    50% {
      transform: rotate(-7deg) translate3d(0, 0, 0);
    }
  
    75% {
      transform: rotate(1deg) translate3d(0, 0, 0);
    }
  
    100% {
      transform: rotate(0deg) translate3d(0, 0, 0);
    }
  }
  
  button:hover span {
    animation: storm 0.7s ease-in-out both;
    animation-delay: 0.06s;
  }
  
  button::before,
  button::after {
    content: '';
    position: absolute;
    right: 0;
    bottom: 0;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background: #fff;
    opacity: 0;
    transition: transform 0.15s cubic-bezier(0.02, 0.01, 0.47, 1), opacity 0.15s cubic-bezier(0.02, 0.01, 0.47, 1);
    z-index: -1;
    transform: translate(100%, -25%) translate3d(0, 0, 0);
  }
  
  button:hover::before,
  button:hover::after {
    opacity: 0.15;
    transition: transform 0.2s cubic-bezier(0.02, 0.01, 0.47, 1), opacity 0.2s cubic-bezier(0.02, 0.01, 0.47, 1);
  }
  
  button:hover::before {
    transform: translate3d(50%, 0, 0) scale(0.9);
  }
  
  button:hover::after {
    transform: translate(50%, 0) scale(1.1);
  }
  
  
/* second section */
.two
{
    background-color: rgb(41 44 45);
}
.content{
    
    height:auto;
    width: 100%;

}
.content
{
    padding: 20px;
}



.titles
{
    font-size:30px;
    color:rgb(250, 93, 72);
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    letter-spacing: 2px;
    text-align: center;
    text-decoration: underline whitesmoke;
}

p{
    font-size: 20px;
    letter-spacing: 1px;
    font-family: Arial, Helvetica, sans-serif;
    color: azure;
    padding: 20px;
}


/* page3 */
.three
{
 background:url(./assets/poul.jpg);
 background-size: cover;
 background-repeat: no-repeat;
 background-position: center;
 
 overflow:auto;
 height: 100vh;
 width: auto;
}
/* page4 */
.four .content
{
    background: #1488CC;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #2B32B2, #1488CC);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #2B32B2, #1488CC); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    }    
li
{
    list-style: none;
}
/* pg5 */
.five 
{
 background:url(./assets/wepik-cute-bee-desktop-wallpaper-20230614212927qYEq.png);
 background-size: cover;
 background-repeat: no-repeat;
 background-position: center;
 height: 100vh;
 width: auto;
}
.six .content{
    background: #9796f0;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #fbc7d4, #9796f0);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #fbc7d4, #9796f0); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}
footer{
    height: 20vh;
    background: url(https://images.unsplash.com/photo-1475924156734-496f6cac6ec1?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1170&q=80);
    background-position: center;
    background-size: cover;
    width: 100%;

}
footer .end
{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20vh;
    text-align: center;
    line-height: 20px;
    letter-spacing: 2px;
    font-family: 'Poppins', sans-serif;
    
}
.ch
{
    color: whitesmoke;
    text-decoration:underline black;
}

@media(max-width:1040px)
{
   .head 
   {
        font-size: 80px;
    }
}


@media(max-width:780px)
{
   .head 
   {
        font-size: 60px;
    }
}
@media (min-width:500px)and(max-width:630px)
{
   .head 
   {
        font-size: 50px;
    }
    .he{
        padding-left: 5px;
        padding-top: 0;
        position: relative;
        top: 0;
        
        padding-right: 5px;
    }
    .titles
{
    font-size:18px;
    padding: 5px;
}
p
{
    padding: 5px;
    padding-top: 10px;
}
}



@media(max-width:450px)
{
   
    .hero
{
    padding-left: 10px;
    
}
.he{
    padding-left: 5px;
    padding-top: 5px;
    position: relative;
    top: 3%;
    
    padding-right: 5px;
}
.head
{
    font-size:50px;
    -webkit-text-stroke: 2px black;
    
}
.logo{
    padding-left: 5px;
    /* display: flex;
    align-items: center;
    justify-content: center; */
   
}
.logo img{
    height: 100px;
    
}
.btu
{
    padding: 5px;
    padding-top: 30px;
}
.titles
{
    font-size:17px;
}
p
{
    padding-top: 10px;
    padding: 5px;
}
}